*.suo
*.user
*.json
.vs/
bin/
obj/
DataAccess/migrations/
BussinessObject/bin/
BussinessObject/obj/
ServerAPI/bin/
ServerAPI/obj/
WpfClient/bin/
WpfClient/obj/
WpfClient/App.config
WpfClient/Properties/